<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
Hi <%=@user.name%><br></body>

That’s okay to have bad memory, <br> 

OTP for password reset: <%=@user.otp%><br>

Thanks<br>
Linchpin Team

   
</html>