<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
Hi <%=@user.name%><br></body>

Your password reset OTP is given below.<br>

OTP: <%=@user.otp%><br>

Thanks,<br>
PMT Team.
   
</html>