<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
Hi <%=@name%><br><br>

Welcome to <a href="http://winb.tvsnext.io/linchpin/#/signin">Linchpin</a><br><br>

You may login with your credentials,<br><br>

You have assigned as a Manager for the project <br><br>

Get the further details from PMO/Business team !<br>

Thanks<br>
Linchpin Team

   
</html>