<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
Hi <%=@name%><br><br>

Welcome to <a href="https://winb.tvsnext.io/views/Linchpin-demo/#/signin">Linchpin</a><br><br>
You may login with the below credentials,<br><br>

Email : <%=@email%><br>
Password : As same you are using in Tvsi Compass <br><br>

Get set for a progressive tracking !<br>

Thanks<br>
Linchpin Team

   
</html>